// $jxbtn-default-bg-color: #e3e3e3;
// $jxbtn-info-bg-color: #5bc0de;
// $jxbtn-primary-bg-color: #3f57e0;
// $jxbtn-success-bg-color: #5cb85c;
// $base-border-color: #828182;
// $jxbtn-color1: #393f40;
// $jxbtn-color2: #e6fbff;
// $jxnumber-width: 30px;
// $jxnumber-height: 20px;
// $jxnumber-bg-color-hover: #0f0;

//$jxnav-pills-border-radius

@import "jxvariables";
@import "mixins/base.scss";

@mixin jxbtn-temp($bg-color, $color) {
  //border: 1px darken($bg-color, 10%) solid;
  border: 1px $bg-color solid;
  background-color: $bg-color;
  color: $color;
  &:hover {
    text-decoration: none;
    background-color: darken($bg-color, 10%);
    color: $color;
  }
  &:focus {
    text-decoration: none;
  }
}

.jxbtn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.jxbtn {
  //border: 1px solid tranparent;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 18px;
  font-weight: 400;
  outline:none;
  text-decoration: none;
  
  //@include jx round(4px);
  //@include jxshadow(1px, 1px, 1px, 1px, rgba(0,0,0,0.2));
}

.jxbtn-orange {
  @include jxbtn-temp($jx-btn-orange-bg, $jx-btn-orange-color);
}

.jxbtn-green {
  @include jxbtn-temp($jx-btn-green-bg, $jx-btn-green-color);
}

.jxbtn-blue {
  @include jxbtn-temp($jx-btn-blue-bg, $jx-btn-blue-color);
}

//.number-sub {
//  @include jxborder-split(1px, $base-border-color, 1px, $base-border-color, 1px, $base-border-color, 0px, $base-border-color);
//  @include jxround-split(3px, 0px, 3px, 0px);
//  float: left;
//  height: $jxnumber-height;
//  width: $jxnumber-width/2;
//  line-height: $jxnumber-height;
//  text-align: center;
//  vertical-align: middle;
//  &:hover{
//    background-color: $jxnumber-bg-color-hover;
//  }
//}

//.jxnumber-add {
//  @include jxborder-split(1px, $base-border-color, 1px, $base-border-color, 0px, $base-border-color, 1px, $base-border-color);
//  @include jxround-split(0px, 3px, 0px, 3px);
//  float: left;
//  height: $jxnumber-height;
//  width: $jxnumber-width/2;
//  line-height: $jxnumber-height;
//  text-align: center;
//  vertical-align: middle;
//  &:hover{
//    background-color: $jxnumber-bg-color-hover;
//  }
//}

//.number-visible {
//  float: left;
//  border: 1px $base-border-color solid;
//  outline: none;
//  background-color: transparent;
//  height: $jxnumber-height;
//  width: $jxnumber-width;
//  text-align: center;
//  vertical-align: middle;
//  &:hover{
//    background-color: $jxnumber-bg-color-hover;
//  }
//}

//.jxnav {
//  padding: 0;
//  margin: 0;
//  list-style: none;
//  @include jxclearfix;
//  li {
//    position: relative;
//    display: block;
//
//    a {
//      position: relative;
//      display: block;
//      text-decoration: none;
//      font-size: 16px;
//      color: $base_font_gray;
//      &:focus {
//        color: lighten($base_font_gray, 0.2);
//      }
//    }
//
//    .active {
//      color: $jx-brand-orange;
//    }
//  }
//
//  &:after {
//    display: table;
//    content: ' ';
//  }
//}
//
//.jxnav-rows {
//  li {
//    float : left;
//    margin-right: 2px;
//    a {
//      padding: 10px 40px;
//    }
//  }
//}
//
//
//.jxnavbar {
//  position: relative;
//  width: 100%;
//  @include jxclearfix;
//
//  .jxnav {
//    position: absolute;
//    right: 10%;
//    bottom: 10%;
//  }
//
//  img {
//    position: absolute;
//    left: 10%;
//    bottom: 25%;
//  }
//}
//
//.jxnavbar-default {
//  min-height: 84px;
//  background-color: rgba(230, 230, 230, 0.95);
//}
//
//.jxnavbar-fixed-top {
//  position: fixed;
//  z-index: 5;
//}
//
//.jxnavbar-bottom-red {
//  border-bottom: 2px $jx-brand-orange solid;
//}

.jxnstSlider {
  box-sizing: border-box;
  width: 100%;
  height: $jx-nstslider-size-base;
  //border: 1px solid $base-border-color;
  background-color: darken($jx-btn-default-bg, 10%);
  border-radius: $jx-nstslider-size-base/2;
  position: relative;

  :focus {
    background-color: $jx-gray-light;
  }

  .leftGrip {
    position: absolute;
    width: $jx-nstslider-size-base * 2;
    height: $jx-nstslider-size-base * 2;
    background-color: $jx-brand-orange;
    border-radius: $jx-nstslider-size-base;
    margin-top: -$jx-nstslider-size-base/2;
  }
}

.jxntSlider-group {
  width: 100%;
  height: $jx-nstslider-size-base * 3;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: $jx-space-x2;
  margin-bottom: $jx-space-x2;
  .jxnstInput-g, .jxnstSlider-g {
    float: left !important;
    height: $jx-nstslider-size-base * 3;
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
  }

  .jxnstInput-g {
    width: 25%;
    input {
      width: 100%;
      height: 100%;
      //border: 1px solid $base-border-color;
      //border-radius: 2px;
    }
  }
  
  .jxnstSlider-g {
    width: 75%;
    position: relative;
    .jxnstSlider {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.jxnstLabel {
  line-height: $jx-nstslider-size-base * 3 + $jx-space-x2 * 2;
}
.jxnstLabel-2 {
  line-height: $jx-nstslider-size-base * 6 + $jx-space-x2 * 3;
}

@for $i from 0 to $jxrow-padding-number+1 {
  .jxrow-padding-#{$i} {
     @include jxRowPadding(#{$i}px);
   }
}