<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JX Photo</title>

    <script src="__PUBLIC__/lib/js/sea-2.3.0.min.js"></script>
    <script src="__PUBLIC__/lib/js/jquery-2.1.4.min.js"></script>
    <script src="__PUBLIC__/lib/js/farbtastic.js"></script>
    <script src="__PUBLIC__/lib/js/alloyimage.js"></script>
    <script src="__PUBLIC__/lib/js/jx.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/lib/css/farbtastic.css"/>
    <link rel="stylesheet" href="__PUBLIC__/lib/css/jx.css"/>
    <link rel="stylesheet" href="__PUBLIC__/jxphoto/css/jxphoto_main.css"/>
</head>
<body>

<div class="container">
    <div class="image-controller">
        <div class="plane image-plane">
            <div class="plane-header">
                <span class="plane-title">选择一张图片</span>
                <div class="box-close"></div>
            </div>

            <div class="plane-container">
                <div class="view-div-group">
                    <div class="view-div view-import-div" title="添加一张图片">
                        <span>+</span>
                        <input type="file" id="import-pictrue" style="display: none"/>
                    </div>
                </div>
            </div>

            <div class="plane-footer">
                <div class="btn-group">
                    <button class="btn btn-info next" disabled="true">下一步</button>
                    <button class="btn btn-success ok-btn" disabled="true">确定</button>
                </div>
            </div>
        </div>
        <div class="plane filter-plane">
            <div class="plane-header">
                <span class="plane-title">选择一种滤镜</span>
                <div class="box-close"></div>
            </div>

            <div class="plane-container">
                <div class="view-div-group"></div>
            </div>

            <div class="plane-footer">
                <div class="btn-group">
                    <button class="btn btn-info back">上一步</button>
                    <button class="btn btn-info next" disabled="true">下一步</button>
                    <button class="btn btn-success ok-btn" disabled="true">确定</button>
                </div>
            </div>
        </div>
        <div class="plane mask-plane">
            <div class="plane-header">
                <span class="plane-title">选择一个蒙版</span>
                <div class="box-close"></div>
            </div>

            <div class="plane-container">
                <div class="view-div-group"></div>
            </div>

            <div class="plane-footer">
                <div class="btn-group">
                    <button class="btn btn-info back">上一步</button>
                    <button class="btn btn-success ok-btn" disabled="true">确定</button>
                </div>
            </div>
        </div>
    </div>

    <div class="plane text-plane">

        <div class="plane-header">
            <span class="plane-title">文字控制</span>
            <div class="box-close"></div>
        </div>

        <div class="plane-container">
            <div class="text-control-group">
                <ul class="text-tab-ul">
                    <li class="text-tab-il" id="text-size" title="文字大小">10</li>
                    <li class="text-tab-il" id="text-color" title="文字颜色"><span class="color-view" id="text-color-id"></span></li>
                    <li class="text-tab-il" id="text-font" title="文字字体">Arial</li>
                </ul>

                <div class="div-line">
                    <div class="div-triangle"></div>
                </div>

                <div class="text-size-group text-group-hidden">
                    <div class="number-group">
                        <span class="number-sub">-</span>
                        <input type="text" value="10" maxlength="4" class="number-visible">
                        <span class="number-add">+</span>
                    </div>
                </div>

                <div class="text-color-group">
                    <div id="colorpicker"></div>
                </div>

                <div class="text-font-group text-group-hidden">
                    <a href="#" class="use-font" style="font-family: Arial">Arial</a>
                    <a href="#" class="use-font" style="font-family: sans-serif">sans-serif</a>
                    <a href="#" class="use-font" style="font-family: Helvetica">Helvetica</a>
                    <a href="#" class="use-font" style="font-family: cursive">cursive</a>
                    <a href="#" class="use-font" style="font-family: fantasy">fantasy</a>
                    <a href="#" class="use-font" style="font-family: monospace">monospace</a>
                    <a href="#" class="use-font" style="font-family: courier">courier</a>
                </div>
            </div>
        </div>
        <div class="plane-footer">
            <div class="btn-group">
                <button class="btn btn-success" disabled="true">确定</button>
            </div>
        </div>

    </div>

    <div class="header-painting">
        <button class="btn btn-primary visible-image-btn">图片</button>
        <button class="btn btn-primary visible-text-btn">文字</button>
    </div>
    <div class="container-painting">
        <canvas class="painting" id="painting_canvas"></canvas>
    </div>
    
    <div class="textediter-group">
        <div class="textediter-move">
            <span></span>
        </div>

        <textarea class="textediter-containter"></textarea>

        <div class="textediter-scale">
            <span></span>
        </div>
    </div>

</div>


<script>
    seajs.use("__PUBLIC__/jxphoto/js/JXPhotoEntry.js", function (JXPhotoEntry) {
        var inParameters = {
            canvas: document.getElementById("painting_canvas"),
            rootPath: " __ROOT__",
            drawArea: {x : 500, y : 100, width : 500, height : 500}
        };

        var entry = new JXPhotoEntry(inParameters);

        var filters = {
            "softenFace" : null,
            "sketch" : null,
            "softEnhancement" : null,
            "purpleStyle" : null,
            "soften" : null,
            "vintage" : null,
            "gray" : null,
            "warmAutumn" : null,
            "carveStyle" : null,
            "rough" : null
        };

        var masks = [];

        var currentImage = new Image();

        var currentFilter = new Image();

        // 文字 colorpicker
        var text_colorpicher = $.farbtastic('#colorpicker').linkTo('#text-color-id');
        var text_color_str = $('#text-color-id').css("backgroundColor");
        if(text_color_str.match(/#/g)) {
            text_colorpicher.setColor(text_color_str);
        } else if(text_color_str.match(/rgb/g)) {
            text_colorpicher.setColor(jxjs.RGB2Hex(text_color_str));
        }


//        $.farbtastic('#colorpicker').setColor($('#text-color-id').css("backgroundColor"));

        // 控制面板移动
        $(".plane").each(function() {
            jxjs.controlElementMove($(this), $(this));
        });

        // 控制文字移动
        jxjs.controlElementMove($(".textediter-move"), $(".textediter-group"));

        // 三角形移动
        $("#text-size").bind('click', function(event) {
            $(".div-triangle").animate({"left": "25px"});
            if($(".text-size-group").hasClass("text-group-hidden"))
                $(".text-size-group").removeClass("text-group-hidden");
            if(!$(".text-color-group").hasClass("text-group-hidden"))
                $(".text-color-group").addClass("text-group-hidden");
            if(!$(".text-font-group").hasClass("text-group-hidden"))
                $(".text-font-group").addClass("text-group-hidden");
        });
        $("#text-color").bind('click', function(event) {
            $(".div-triangle").animate({"left": "88px"});
            if(!$(".text-size-group").hasClass("text-group-hidden"))
                $(".text-size-group").addClass("text-group-hidden");
            if($(".text-color-group").hasClass("text-group-hidden"))
                $(".text-color-group").removeClass("text-group-hidden");
            if(!$(".text-font-group").hasClass("text-group-hidden"))
                $(".text-font-group").addClass("text-group-hidden");
        });
        $("#text-font").bind('click', function(event) {
            $(".div-triangle").animate({"left": "160px"});
            if(!$(".text-size-group").hasClass("text-group-hidden"))
                $(".text-size-group").addClass("text-group-hidden");
            if(!$(".text-color-group").hasClass("text-group-hidden"))
                $(".text-color-group").addClass("text-group-hidden");
            if($(".text-font-group").hasClass("text-group-hidden"))
                $(".text-font-group").removeClass("text-group-hidden");
        });


        $(".plane .plane-header .box-close").bind("click", function () {
            $(".plane").css("display", "none");
        });

        // 隐藏图片面板
        $(".plane").css("display", "none");


        $(".image-plane .plane-footer .btn-group .next").bind('click', function () {
            $('.image-plane').css("display", "none");
            $('.filter-plane').css("display", "block");
            var _image = new Image();
            for(var eachFilter in filters) {
                _image.src = AlloyImage(currentImage).ps(eachFilter).save(0, 1);

                updateFilterView(filters[eachFilter], _image, eachFilter);
            }
        });

        $(".filter-plane .plane-footer .btn-group .next").bind('click', function () {
            $('.filter-plane').css("display", "none");
            $('.mask-plane').css("display", "block");
            for(var i=0; i<masks.length; i++) {
                updateMaskView(masks[i][1], currentFilter, masks[i][0]);
            }
        });

        $(".filter-plane .plane-footer .btn-group .back").bind('click', function () {
            $('.filter-plane').css("display", "none");
            $('.image-plane').css("display", "block");
        });

        $(".mask-plane .plane-footer .btn-group .back").bind('click', function () {
            $('.mask-plane').css("display", "none");
            $('.filter-plane').css("display", "block");
        });

        $(".plane .plane-footer .btn-group .btn-success").bind('click', function() {
            entry.updateCurrentImageInfo();
            entry.render();
        });

        $('.view-import-div').on('click', function () {
            document.getElementById("import-pictrue").click();
        });


        /**
         * 从本地导入图片
         */
        $('#import-pictrue').on('change', function () {
            entry.openFile(this.files[0], function (url) {
                entry.addImage(url, function (img) {
                    updateImageView(initImageView($(".image-plane .plane-container .view-div-group")), img);
                });
            });
        });

        /**
         * 显示图片控制面板
         */
        $(".visible-image-btn").bind('click', function () {
            $(".image-plane").css("display", "block");
        });

        /**
         * 显示文字控制面板
         */
        $(".visible-text-btn").bind('click', function () {
            $(".text-plane").css("display", "block");
        });

        var  _selected_ip_view_div, _selected_fp_view_div, _selected_mp_view_div;

        var initCommonView = function(parent) {
            var view_canvas= $('<canvas></canvas>');

            view_canvas.addClass("view-div");

            parent.append(view_canvas);

            view_canvas[0].width = 100;
            view_canvas[0].height = 100;

            return view_canvas;
        };

        var initImageView = function (parent) {

            var view_canvas = initCommonView(parent);

            view_canvas.bind("click", function() {
                if(_selected_ip_view_div) {
                    _selected_ip_view_div.removeClass("active");
                }

                $(this).addClass("active");

                currentImage.src = view_canvas[0].toDataURL();

                entry.updateCurrentImageInfo(view_canvas.zImage, false);


                _selected_ip_view_div = $(this);

                $(".image-plane .plane-footer .btn-group .next").attr("disabled", false);
                $(".filter-plane .plane-footer .btn-group .btn-success").attr("disabled", false);
            });

            return view_canvas;
        };

        var updateImageView = function(vc, img) {

            var _context = vc[0].getContext('2d');

            var _min = Math.min(img.width, img.height);

            _context.scale(100/_min, 100/_min);

            _context.drawImage(img, 0, 0);

            vc.zImage = img;
        };

        var initFilterView = function (parent) {

            var view_canvas = initCommonView(parent);

            view_canvas.bind("click", function() {
                if(_selected_fp_view_div) {
                    _selected_fp_view_div.removeClass("active");
                }

                $(this).addClass("active");

                currentFilter.src = view_canvas[0].toDataURL();

                entry.currentImageInfo.filter = view_canvas.zFilter;

//                entry.updateCurrentImageInfo(null, false);

                _selected_fp_view_div = $(this);

                $(".filter-plane .plane-footer .btn-group .next").attr("disabled", false);
                $(".filter-plane .plane-footer .btn-group .btn-success").attr("disabled", false);
            });

            return view_canvas;
        };

        var updateFilterView = function(vc, img, filter) {

            vc.zFilter = filter;

            var _context = vc[0].getContext('2d');

            var _min = Math.min(img.width, img.height);

            _context.scale(100/_min, 100/_min);

            _context.drawImage(img, 0, 0);

            vc.zImage = img;
        };

        var initMaskView = function (parent) {

            var view_canvas = initCommonView(parent);

            view_canvas.bind("click", function() {
                if(_selected_mp_view_div) {
                    _selected_mp_view_div.removeClass("active");
                }

                $(this).addClass("active");

                entry.currentMaskImage = view_canvas.zImage;

                _selected_mp_view_div = $(this);

                $(".mask-plane .plane-footer .btn-group .btn-success").attr("disabled", false);
            });

            return view_canvas;
        };

        var updateMaskView = function(vc, img, mask_img) {

            var _context = vc[0].getContext('2d');

            var _min = Math.min(img.width, img.height);

            _context.scale(100/_min, 100/_min);

            _context.drawImage(img, 0, 0);

            _context.globalCompositeOperation = "destination-in";
            _context.drawImage(mask_img, 0, 0, 100, 100);
            _context.globalCompositeOperation = "source-over";

            vc.zImage = mask_img;
        };

        for(var eachFilter in filters) {
            filters[eachFilter] = initFilterView($(".filter-plane .plane-container .view-div-group"));
        }


        <foreach name="jxphoto_pictrues" item="vo_pic">

        entry.addImage("__ROOT__/{$vo_pic}", function (img) {
            updateImageView(initImageView($(".image-plane .plane-container .view-div-group")), img);
        });

        </foreach>

        <foreach name="jxphoto_masks" item="vo_mask">

        entry.addImage("__ROOT__/{$vo_mask}", function (img) {
            masks.push([img, initMaskView($(".mask-plane .plane-container .view-div-group"))]);

        });

        </foreach>

    });
</script>

</body>
</html>