<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>简兮网络</title>
    <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__JXRESOURCE__/basic/css/jx{$Think.config.DOT_MIN}.css">
    <link rel="stylesheet" href="__JXRESOURCE__/basic/css/jxindex{$Think.config.DOT_MIN}.css">

    <script src="__STATIC__/sea-2.3.0.min.js"></script>
    <script src="__STATIC__/jquery-2.1.4.min.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    this is admin.
</body>
</html>