
<form action="{$b_post_url}" method="post">
    <input type="hidden" name="bannerId" id="banner-id">
    <div class="form-group">
        <label for="banner-title">标题</label>
        <input type="text" name="bannerTitle" id="banner-title" class="form-control" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="banner-sort">排序</label>
        <input type="text" name="bannerSort" id="banner-sort" class="form-control" placeholder="Sort">
    </div>
    <div class="form-group">
        <label for="banner-link">链接地址</label>
        <input type="text" name="bannerLink" id="banner-link" class="form-control" placeholder="Link Url">
    </div>
    <div class="form-group">
        <label for="banner-kind">类型</label>
        <select class="form-control" id="banner-kind" name="bannerKind" aria-describedby="sizing-kind">
            <option value="1">首页Banner</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sizing-photo">图片</label>
        <div class="input-group" id="sizing-photo">
            <input type="text" name="bannerPath" id="banner-path" class="form-control" placeholder="URL" aria-describedby="sizing-photo" value="{$photourl}">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="jx-select-pic-b">选择</button>
                <script>
                    KindEditor.ready(function(K) {
                        var editor = K.editor({ allowFileManager : true});
                        K('#jx-select-pic-b').click(function() {
                            editor.loadPlugin('image', function() {
                                editor.plugin.imageDialog({
                                    imageUrl : K('#banner-path').val(),
                                    clickFn : function(url, title, width, height, border, align) {
                                        K('#banner-path').val(url);
                                        editor.hideDialog();
                                    }
                                });
                            });
                        });
                    });
                </script>
            </span>
        </div>
    </div>
    <input type="file" id="banner-upload" style="display: none;">

    <div class="form-group">
        <label for="banner-status">状态</label>
        <select class="form-control" name="bannerStatus" id="banner-status" aria-describedby="sizing-status">
            <option value="1">显示</option>
            <option value="0">隐藏</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">提交</button>
</form>