
<form action="{$b_post_url}" method="post">
    <input type="hidden" name="bannerId" id="banner-id">
    <div class="form-group">
        <label for="banner-title">标题</label>
        <input type="text" name="bannerTitle" id="banner-title" class="form-control" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="banner-kind">类型</label>
        <select class="form-control" id="banner-kind" name="bannerKind" aria-describedby="sizing-kind">
            <option value="1">首页Banner</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sizing-photo">图片</label>
        <div class="input-group" id="sizing-photo">
            <input type="text" name="bannerPath" id="banner-path" class="form-control" placeholder="URL" aria-describedby="sizing-photo" value="{$photourl}">
            <span class="input-group-btn">
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#select-modal" data-whatever="@mdo">选择</button> -->
                <button type="button" class="btn btn-primary" id="jx-select-pic-b">选择</button>
                <script>
                    KindEditor.ready(function(K) {
                        var editor = K.editor({ allowFileManager : true});
                        K('#jx-select-pic-b').click(function() {
                            editor.loadPlugin('image', function() {
                                editor.plugin.imageDialog({
                                    imageUrl : K('#banner-path').val(),
                                    clickFn : function(url, title, width, height, border, align) {
                                        K('#banner-path').val(url);
                                        editor.hideDialog();
                                    }
                                });
                            });
                        });
                    });
                </script>
            </span>
        </div>
    </div>
    <input type="file" id="banner-upload" style="display: none;">

    <div class="form-group">
        <label for="banner-status">状态</label>
        <select class="form-control" name="bannerStatus" id="banner-status" aria-describedby="sizing-status">
            <option value="1">显示</option>
            <option value="0">隐藏</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">提交</button>
</form>

<div class="modal fade in" id="select-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="exampleModalLabel">选择图片</h4>
            </div>
            <div class="modal-body">
                <form action='{:U("Admin/Empty/uploadBanner")}' enctype="multipart/form-data" method="post" >
                    <input type="file" name="photo" id="jx-upload-element" style="display: none"/>
                    <div class="form-group">
                        <label for="exampleInputFile">本地文件</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id='jx-upload-input'>
                            <span class="input-group-btn">
                                <button type="button" id="jx-upload-b" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-folder-open"></span>
                                    浏览...
                                </button>
                            </span>
                        </div>
                    </div>

                    <input type="submit" id="jx-upload-submit" value="提交" style="display: none">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="jx-upload-ok">确定</button>
            </div>
        </div>
    </div>
</div>