<form action="{$b_post_url}" method="post">
    <input type="hidden" name="id" value='<?php echo $banner_data["id"];?>'>
<foreach name="key_data_banner" item="item">
    <div class="form-group">
        <label>{$item.title}</label>
    <if condition="$item.type eq 0">
        <input type="text" name="{$item.name}" value='<?php echo $banner_data[$item["name"]];?>' class="form-control" placeholder="{$item.tip}">
    </if>
    <if condition="$item.type eq 1">
        <textarea name="{$item.name}" class="form-control" placeholder="{$item.tip}"><?php echo $banner_data[$item["name"]];?></textarea>
    </if>

    <if condition="$item.type eq 2">
        <div class="input-group" id="sizing-photo">
            <input type="text" name="{$item.name}" value='<?php echo $banner_data[$item["name"]];?>' id="jx-upload-{$item.name}" class="form-control" placeholder="{$item.tip}" aria-describedby="sizing-photo" value="{$photourl}">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="jx-select-pic-b">选择</button>
                <script>
                    KindEditor.ready(function(K) {
                        var editor = K.editor({ allowFileManager : true});
                        K('#jx-select-pic-b').click(function() {
                            editor.loadPlugin('image', function() {
                                editor.plugin.imageDialog({
                                    imageUrl : K('#jx-upload-{$item.name}').val(),
                                    clickFn : function(url, title, width, height, border, align) {
                                        K('#jx-upload-{$item.name}').val(url);
                                        editor.hideDialog();
                                    }
                                });
                            });
                        });
                    });
                </script>
            </span>
        </div>
    </if>
    <if condition="$item.type eq 3">
        <select name="{$item.name}" class="form-control">
        <foreach name='item["values"]' item="val" key="key">
            <if condition='$banner_data[$item["name"]] eq $key'>
                <option value="{$key}" selected>{$val}</option>
            <else />
                <option value="{$key}">{$val}</option>
            </if>
        </foreach>
        </select>
    </if>

    </div>

</foreach>
    <button type="submit" class="btn btn-primary">提交</button>
</form>