<form action="{$b_post_url}" method="post" onkeydown="if(event.keyCode==13){return false;}">
    <input type="hidden" name="id" value='<?php echo $data["id"];?>'>
<foreach name="key_data_current" item="item">
    <div class="form-group">
        <label>{$item.title}</label>
    <if condition="$item.type eq 0">
        <input type="text" name="{$item.name}" value='<?php echo $data[$item["name"]];?>' class="form-control" placeholder="{$item.tip}">
    </if>
    <if condition="$item.type eq 1">
        <textarea name="{$item.name}" class="form-control" placeholder="{$item.tip}"><?php echo $data[$item["name"]];?></textarea>
    </if>

    <if condition="$item.type eq 2">
        <div class="input-group" id="sizing-photo">
            <input type="text" name="{$item.name}" value='<?php echo $data[$item["name"]];?>' id="jx-upload-{$item.name}" class="form-control" placeholder="{$item.tip}" aria-describedby="sizing-photo" value="{$photourl}">
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="jx-select-pic-b">选择</button>
                <script>
                    KindEditor.ready(function(K) {
                        var editor = K.editor({ allowFileManager : true});
                        K('#jx-select-pic-b').click(function() {
                            editor.loadPlugin('image', function() {
                                editor.plugin.imageDialog({
                                    imageUrl : K('#jx-upload-{$item.name}').val(),
                                    clickFn : function(url, title, width, height, border, align) {
                                        K('#jx-upload-{$item.name}').val(url);
                                        editor.hideDialog();
                                    }
                                });
                            });
                        });
                    });
                </script>
            </span>
        </div>
    </if>
    <if condition="$item.type eq 3">
        <select name="{$item.name}" class="form-control">
        <foreach name='item["values"]' item="val" key="key">
            <if condition='$data[$item["name"]] eq $key'>
                <option value="{$key}" selected>{$val}</option>
            <else />
                <option value="{$key}">{$val}</option>
            </if>
        </foreach>
        </select>
    </if>
    <if condition="$item.type eq 4">
    <input type="text" name="{$item.name}" value='<?php echo $data[$item["name"]];?>' class="form-control" id="jx-color" placeholder="{$item.tip}" style='<?php echo "background-color: #" . $data[$item["name"]];?>'>
    <div id="jx-colorpicker"></div>
    <script>
        (function() {
            var eq = $("#jx-color");
            var jx_colorpicker = $.farbtastic('#jx-colorpicker');
            jx_colorpicker.linkTo(function(color) {
                eq.css({backgroundColor: color});
                eq.val(color.substring(1, color.length));
//                console.log(color);
            });
            jx_colorpicker.setColor('<?php echo "#" . $data[$item["name"]];?>');
        })();
    </script>
    </if>
    <if condition="$item.type eq 5">
    <textarea name="{$item.name}" class="form-control" style="display: block" placeholder="{$item.tip}" id="jx-2d-diy-product-relative-value"><?php echo $data[$item["name"]];?></textarea>
    <div style="border: 1px solid #ccc; padding: 5px; border-radius: 5px">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jx-2d-diy-product-modal" id="jx-2d-add-color">添加颜色</button>
        <div class="modal fade" id="jx-2d-diy-product-modal" tabindex="-1" role="dialog" aria-labelledby="jx-2d-diy-product-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="form-group">
                            <label>颜色</label>
                            <input type="text" class="form-control" placeholder="#fff" id="jx-2d-diy-product-color-value" style="background-color: #fff"/>
                            <div id="jx-2d-diy-colorpicker"></div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <input type="file" id="jx-2d-diy-product-cimg-upload" style="display: none"/>
                        <button type="button" class="btn btn-primary" id="jx-2d-diy-product-color-img-upload">上传视角图片</button>
                        <div class="row" id="jx-2d-diy-product-color-img-group"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="jx-2d-diy-product-change-color-ok">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="jx-diy-product-color-group" class="row"></div>
    </div>
    <script>
        (function() {
            var jx_2d_diy_eq = $('#jx-2d-diy-product-color-value');
            var jx_2d_diy_colorpicker = $.farbtastic('#jx-2d-diy-colorpicker');
            jx_2d_diy_colorpicker.linkTo(function(color) {
                jx_2d_diy_eq.css({backgroundColor: color});
                jx_2d_diy_eq.val(color);
               // console.log(color);
            });

            // jx_2d_diy_colorpicker.setColor('<?php echo "#" . $data[$item["name"]];?>');

            $.ajax({
                url: '{$P_2d_diy_data_2_data}',
                type: 'POST',
                data: JSON.parse('<?php echo $data[$item["name"]];?>'),
            }).then(function(data) {
                var data = JSON.parse(data);
                var colorItemWidth = 50,
                    colorItemHeight = 50,
                    each, i, j,
                    radius = 5;
                var FUN_PARENT = null;
                function updateRelativeContent() {
                    var _data = {};
                    for(i in data) {
                        if(_data[i] === undefined) {
                            _data[i] = [];
                        }
                        for(j in data[i]) {
                            for(var e in data[i][j]) {
                                _data[i].push(e);
                            }
                        }
                    }
                    $('#jx-2d-diy-product-relative-value').val(JSON.stringify(_data));
                }

                function getStyle(bgColor) {
                    // return 'width: ' + colorItemWidth + 'px; height: ' + colorItemHeight + 'px; background-color: ' + bgColor + '; border-radius: ' + radius + 'px; margin-top: 10px; position: relative';
                    return 'width: 100%; height: 0; padding-top: 100%; background-color: ' + bgColor + '; border-radius: ' + radius + 'px; margin-top: 10px; position: relative';
                }

                function addColorItem(color) {
                    var colorElement = $('<div data-toggle="modal" data-target="#jx-2d-diy-product-modal" mbgcolor="' + color + '" style="' + getStyle(color) + '"><div>');
                    var colorClose = $('<span mbgcolor="' + color + '" class="glyphicon glyphicon-remove-circle" style="color: #f00; font-size: 18px; position: absolute; top: -7px; right: -7px"></span>');

                    colorElement.append(colorClose);
                    var elementTop = $('<div class="col-xs-1"></div>');
                    elementTop.append(colorElement);

                    colorElement.bind('click', function(e) {
                        var mcolor = $(this).attr('mbgcolor');
                        jx_2d_diy_colorpicker.setColor(mcolor);
                        jx_2d_diy_eq.val(mcolor);
                        jx_2d_diy_eq.css({
                            "background-color": mcolor
                        });

                        $('#jx-2d-diy-product-color-img-group').children().remove();

                        FUN_PARENT = $(this);

                        var mimgData = data[mcolor];

                        var mitem = null;
                        for(i = 0; i < mimgData.length; i++) {
                            mitem = mimgData[i];

                            for(j in mitem) {
                                addImgItem(mitem[j], j);
                            }
                            
                        }
                    });

                    colorClose.bind('click', function(e) {
                        console.log("ccccccc");
                        e.stopPropagation();
                        var mbgcolor = $(this).attr('mbgcolor');
                        console.log(mbgcolor);
                        if(data[mbgcolor]) {
                            delete data[mbgcolor];
                            updateRelativeContent();
                        }
                        $(this).parent().parent().remove();
                    });

                    $('#jx-diy-product-color-group').append(elementTop);
                }

                function addImgItem(url, id) {
                    var imgGroup = $('<div style="margin-top: 10px; position: relative"></div>');
                    var img = $('<img mid="' + id + '" class="jx-2d-diy-product-img-item img-rounded" style="max-width: 100%; border: 1px solid #ccc" src='+ url + ' />');
                    var imgClose = $('<span class="glyphicon glyphicon-remove-circle" style="color: #f00; font-size: 20px; position: absolute; top: -8px; right: -8px"></span>');
                    imgGroup.append(img, imgClose);
                    var elementTop = $('<div class="col-xs-3"></div>');
                    elementTop.append(imgGroup);
                    imgClose.bind('click', function(e) {
                        // alert("fwfvvvvv");
                        $(this).parent().parent().remove();
                    }); 

                    $('#jx-2d-diy-product-color-img-group').append(elementTop);
                }

                for(each in data) {
                    addColorItem(each);
                }

                jx_2d_diy_eq.bind('change', function(e) {
                    var mvalue = $(this).val();
                    $(this).css('background-color', mvalue);

                    if(data[mvalue]) {

                    }

                });

                $('#jx-2d-diy-product-change-color-ok').bind('click', function(e) {
                    var mvalue = jx_2d_diy_eq.val();

                    var imgs = [];
                    $('.jx-2d-diy-product-img-item').each(function() {
                        var eimg = {};
                        eimg[$(this).attr('mid')] = $(this).attr('src');
                        imgs.push(eimg);
                    });

                    if(mvalue) {
                        data[mvalue] = imgs;
                        updateRelativeContent();
                        if(FUN_PARENT) {
                            FUN_PARENT.attr('mbgcolor', mvalue);
                            FUN_PARENT.children().attr('mbgcolor', mvalue);
                            FUN_PARENT.css('background-color', mvalue);
                        }
                    } else {
                        alert("请输入颜色值");
                    }
                });

                $('#jx-2d-add-color').bind('click', function(e) {
                    jx_2d_diy_eq.val('');
                    jx_2d_diy_eq.css('background-color', '#fff');
                    jx_2d_diy_colorpicker.setColor('#fff');
                    FUN_PARENT = null;
                });

                $('#jx-2d-diy-product-color-img-upload').bind('click', function(e) {
                    $('#jx-2d-diy-product-cimg-upload').click();
                });

                $('#jx-2d-diy-product-cimg-upload').bind('change', function(e) {
                    var reader = new FileReader();
                    reader.readAsDataURL(this.files[0]);

                    reader.onload = function() {
                        var imgData = this.result;
                        $.ajax({
                            url: '{$P_2d_diy_upload_img_url}',
                            type: 'POST',
                            data: {imgData: imgData},
                            success: function(data) {
                                if(data && data != 0) {
                                    console.log(data);
                                    var mdata = JSON.parse(data);
                                    addImgItem(mdata.path, mdata.id);
                                }
                            }
                        });
                    };
                });
            });
        })();
    </script>
    </if>
    </div>

</foreach>
    <button type="submit" class="btn btn-primary">提交</button>
</form>