<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>简兮网络</title>
    <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__JXRESOURCE__/common/css/common.css">
    <link rel="stylesheet" href="__STATIC__/kindeditor-4.1.10/themes/default/default.css">

    <script src="__STATIC__/jquery-2.1.4.min.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/kindeditor-4.1.10/kindeditor-min.js"></script>
    <script src="__STATIC__/kindeditor-4.1.10/lang/zh_CN.js"></script>
</head>
<body>
    <include file="Public/header" />
    <div class="container">
        <div id="jx-table">
            {$body_table}
        </div>
        <div id="jx-add">
        <if condition="$show_form eq 1">
            <include file="Empty/form" />
        </if>
        </div>
    </div>
    
    <script>

//    $("#jx-upload-ok").on('click', function() {
//        // $("#jx-upload-submit").click();
//        $.post('{:U("Admin/Empty/uploadBanner")}', {}, function(json) {
//            console.log(json);
//        });
//    });
//
//    $("#jx-upload-element").on('change', function(event) {
//        // console.log(event.target.value);
//        $("#jx-upload-input").val(event.target.value);
//    });
//
//    $("#jx-upload-b").on('click', function() {
//        $("#jx-upload-element").click();
//    });
    </script>
</body>
</html>