<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>简衣制造</title>
    <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__JXRESOURCE__/basic/css/jx{$Think.config.DOT_MIN}.css">
    <link rel="stylesheet" href="__JXRESOURCE__/2d/css/jx2d{$Think.config.DOT_MIN}.css">
    <script src="__STATIC__/sea-2.3.0.min.js"></script>
    <script src="__STATIC__/jquery-2.1.4.min.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__STATIC__/nstSlider/js/jquery.nstSlider.min.js"></script>
    <script src="__STATIC__/three.js"></script>
    <script src="__STATIC__/three.jx.js"></script>
</head>
<body>
<div class="container-fiuld">
    <div class="jx2d-container">
        <div class="control-left">
            <div class="viewport-group">
                <canvas class="viewport-2d" id="viewport-2d" width="500" height="600" style="width: 500px; height: 600px; background: url(__JXRESOURCE__/2d/imgs/pictrues/t-shirt_2_wht.jpg);background-position:center;background-size: contain; background-repeat: no-repeat;"></canvas>
            </div>
            <div class="row jxrow-padding-5">
                <div class="col-sm-2">
                    <div class="project-template-group"></div>
                </div>
                <div class="col-sm-2">
                    <div class="project-template-group"></div>
                </div>
                <div class="col-sm-2">
                    <div class="project-template-group"></div>
                </div>
                <div class="col-sm-2">
                    <div class="project-template-group"></div>
                </div>
                <div class="col-sm-2">
                    <div class="project-template-group"></div>
                </div>
                <div class="col-sm-2">
                    <div class="project-template-group"></div>
                </div>
            </div>
            <div class="spot-place"></div>
        </div>

        <div class="control-right">
            <h3>标题位置: XXXX</h3>
            <h5>￥59.9</h5>
            <button class="btn btn-default btn-block" type="button" data-toggle="modal" data-target="#jx2d-product-modal">选择产品</button> 
            <!-- jx2d product modal -->
            <div id="jx2d-product-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="jx2d-product-modal-label">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <!-- <h4 class="modal-title" id="jx2d-product-modal-label">请选择产品</h4> -->
                        <ul class="nav nav-pills">
                            <li role="presentation" class="jx2d-product-label" pid="jx2d-product-tshirt"><a href="javascript:void(0)">T恤</a></li>
                            <li role="presentation" class="jx2d-product-label" pid="jx2d-product-longsleeve"><a href="javascript:void(0)">长袖</a></li>
                            <li role="presentation" class="jx2d-product-label" pid="jx2d-product-tanktop"><a href="javascript:void(0)">背心</a></li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div class="jx2d-product-item-group">
                            <div class="row" id="jx2d-product-tshirt" style="display: none">
                                <foreach name="jx_2d_out.products.tshirts" item="jx_tshirt" key="jx_2d_pn">
                                <div class="col-sm-3">
                                    <div class="jx2d-product-item">
                                        <img class="jx2d-product-item-img" src="{$jx_tshirt.0.path}" alt="">
                                        <span class="jx2d-product-item-label">{$jx_2d_pn}</span>
                                    </div>
                                </div>
                                </foreach>
                            </div>
                            <div class="row" id="jx2d-product-longsleeve" style="display: none">
                                <foreach name="jx_2d_out.products.longsleeve" item="jx_longsleeve" key="jx_2d_pn">
                                    <div class="col-sm-3">
                                        <div class="jx2d-product-item">
                                            <img class="jx2d-product-item-img" src="{$jx_longsleeve.0.path}" alt="">
                                            <span class="jx2d-product-item-label">{$jx_2d_pn}</span>
                                        </div>
                                    </div>
                                </foreach>
                            </div>
                            <div class="row" id="jx2d-product-tanktop" style="display: none">
                                <foreach name="jx_2d_out.products.tanktops" item="jx_tanktop" key="jx_2d_pn">
                                    <div class="col-sm-3">
                                        <div class="jx2d-product-item">
                                            <img class="jx2d-product-item-img" src="{$jx_tanktop.0.path}" alt="">
                                            <span class="jx2d-product-item-label">{$jx_2d_pn}</span>
                                        </div>
                                    </div>
                                </foreach>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-default">确定</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <!-- size panel -->
                    <div class="jx2d-font-select">
                        <span>数量</span>
                        <div class="input-group input-group-sm">
                            <span class="input-group-btn">
                                <button class="btn btn-default">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="text" class="form-control" placeholder="The is number" value="1" pattern="[0-9]">
                            <span class="input-group-btn">
                                <button class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- color panel -->
                    <div class="jx2d-color-select">
                        <span>颜色</span>
                        <icon class="jx2d-cs-item" cid="jx2d-style-color-g"></icon>
                    </div>
                </div>
            </div>

            <!-- jx2d style color panel -->
            <div class="jx2d-properties-style-color jx-panel jx-panel-tri">
                <div class="jx-panel-title">
                    <span class="label">颜色选择</span>
                    <span class="close glyphicon glyphicon-remove-circle"></span>
                </div>
                <!-- jx2d color group -->
                <div class="jx2d-color-group">
                    <div class="row jxrow-padding-2">
                        <foreach name="jx_2d_out.text_colors" item="jx_color" key="k">
                            <div class="col-sm-1">
                                <a href="#" class="jx2d-color-box" mlabel="3" mnotlink="0">
                                    <span style="background-color: #{$jx_color.color};"></span>
                                </a>
                            </div>
                        </foreach>
                    </div>
                </div>
            </div>

            <div class="jx2d-photo-text-group">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dropdown">
                            <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                创建图片
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <li><a href="#">上传</a></li>
                                <li><a href="#">剪贴画</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-default btn-block" id="jx2d-create-text">创建文字</button>
                    </div>
                </div>
            </div>
            <div class="panel-group" id="jx2d-properites-pg" role="tablist" aria-multiselectable="true" style="display: none;">
                <!-- jx2d panel common -->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="jx2d-common-phear">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#jx2d-properites-pg" href="#jx2d-common-pbody" aria-expanded="true" aria-controls="jx2d-common-pbody">
                                一般属性
                            </a>
                        </h4>
                    </div>
                    <div id="jx2d-common-pbody" class="panel-collapse collapse" role="tabpanel" aria-labelledby="jx2d-common-phear">
                        <div class="panel-body">
                            <div class="jx2d-properties-panel">
                                <!--position-->
                                <div class="row jxrow-padding-2">
                                    <div class="col-sm-2">
                                        <span class="jxnstLabel-2">位置</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="jxntSlider-group">
                                            <div class="jxnstInput-g"><input type="text" class="jxNumber form-control jx2d-input" typename="pos_x"></div>
                                            <div class="jxnstSlider-g">
                                                <div class="jxnstSlider" data-range_min="-360" data-range_max="360" data-cur_min="80" typename="pos_x">
                                                    <div class="bar"></div>
                                                    <div class="leftGrip"></div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="jxntSlider-group">
                                            <div class="jxnstInput-g"><input type="text" class="jxNumber form-control jx2d-input" typename="pos_y"></div>
                                            <div class="jxnstSlider-g">
                                                <div class="jxnstSlider" data-range_min="-360" data-range_max="360" data-cur_min="80" typename="pos_y">
                                                    <div class="bar"></div>
                                                    <div class="leftGrip"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--rotation-->
                                <div class="row jxrow-padding-2">
                                    <div class="col-sm-2">
                                        <span class="jxnstLabel">旋转</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="jxntSlider-group">
                                            <div class="jxnstInput-g"><input type="text" class="jxNumber form-control jx2d-input" typename="rotation"></div>
                                            <div class="jxnstSlider-g">
                                                <div class="jxnstSlider" data-range_min="-36000" data-range_max="36000" data-cur_min="0" typename="rotation">
                                                    <div class="bar"></div>
                                                    <div class="leftGrip"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--scale-->
                                <div class="row jxrow-padding-2">
                                    <div class="col-sm-2">
                                        <span class="jxnstLabel">缩放</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="jxntSlider-group">
                                            <div class="jxnstInput-g"><input type="text" class="jxNumber form-control jx2d-input" typename="scale"></div>
                                            <div class="jxnstSlider-g">
                                                <div class="jxnstSlider" data-range_min="1" data-range_max="1000" data-cur_min="100" typename="scale">
                                                    <div class="bar"></div>
                                                    <div class="leftGrip"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--other-->
                                <div class="row jxrow-padding-2">
                                    <div class="col-sm-3">
                                        <botton class="btn btn-default btn-block" id="jx2d-render-order-back">上一层</botton>
                                    </div>
                                    <div class="col-sm-3">
                                        <botton class="btn btn-default btn-block" id="jx2d-render-order-next">下一层</botton>
                                    </div>
                                    <div class="col-sm-3">
                                        <botton class="btn btn-default btn-block" id="jx2d-row-center">水平居中</botton>
                                    </div>
                                    <div class="col-sm-3">
                                        <botton class="btn btn-default btn-block" id="jx2d-col-center">垂直居中</botton>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- jx2d panel text -->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="jx2d-text-phear">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#jx2d-properites-pg" href="#jx2d-text-pbody" aria-expanded="true" aria-controls="jx2d-text-pbody">
                                文字属性
                            </a>
                        </h4>
                    </div>
                    <div id="jx2d-text-pbody" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="jx2d-text-phear">
                        <div class="panel-body">
                            <!--text content-->
                            <div class="jx2d-content-select">
                                <span>内容</span>
                                <input type="text" class="form-control" id="jx2d-text-content" placeholder="Content">
                            </div>
                            <div class="jx2d-properties-text">
                                <!--font, color, strokeColor, shadowColor-->
                                <div class="row jxrow-padding-0">
                                    <div class="col-sm-3">
                                        <div class="jx2d-font-select">
                                            <span>字体</span>
                                            <select class="form-control" id="jx2d-text-font">
                                                <option value="黑体">黑体</option>
                                                <option value="宋体">宋体</option>
                                                <option value="Times NEW Roman">Times NEW Roman</option>
                                                <option value="Arial">Arial</option>
                                                <option value="Tahoma">Tahoma</option>
                                                宋体
                                            </select>
                                            <!--<div class="btn-group btn-group-sm">-->
                                                <!--<button type="button" class="btn btn-default">Action</button>-->
                                                <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                                                    <!--<span class="caret"></span>-->
                                                    <!--<span class="sr-only">Toggle Dropdown</span>-->
                                                <!--</button>-->
                                                <!--<ul class="dropdown-menu">-->
                                                    <!--<li><a href="#">Action</a></li>-->
                                                    <!--<li><a href="#">Another action</a></li>-->
                                                    <!--<li><a href="#">Something else here</a></li>-->
                                                    <!--<li role="separator" class="divider"></li>-->
                                                    <!--<li><a href="#">Separated link</a></li>-->
                                                <!--</ul>-->
                                            <!--</div>-->
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="jx2d-color-select">
                                            <span>颜色</span>
                                            <icon class="jx2d-cs-item" cid="jx2d-text-color-g"></icon>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="jx2d-color-select">
                                            <span>描边</span>
                                            <icon class="jx2d-cs-item" cid="jx2d-text-stroke-g"></icon>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="jx2d-color-select">
                                            <span>阴影</span>
                                            <icon class="jx2d-cs-item" cid="jx2d-text-shadow-g"></icon>
                                        </div>
                                    </div>
                                </div>

                                <!-- jx2d text color panel -->
                                <div class="jx2d-properties-text-color jx-panel jx-panel-tri">
                                    <div class="jx-panel-title">
                                        <span class="label">文字颜色控制</span>
                                        <span class="close glyphicon glyphicon-remove-circle"></span>
                                    </div>
                                    <!-- jx2d color group -->
                                    <div class="jx2d-color-group">
                                        <div class="row jxrow-padding-2">
                                            <foreach name="jx_2d_out.text_colors" item="jx_color" key="k">
                                                <div class="col-sm-1">
                                                    <a href="#" class="jx2d-color-box" mlabel="0" mnotlink="0">
                                                        <span style="background-color: #{$jx_color.color};"></span>
                                                    </a>
                                                </div>
                                            </foreach>
                                        </div>
                                    </div>
                                </div>

                                <!-- jx2d text stroke panel -->
                                <div class="jx2d-properties-text-stroke jx-panel jx-panel-tri">
                                    <div class="jx-panel-title">
                                        <span class="label">文字描边属性控制</span>
                                        <span class="close glyphicon glyphicon-remove-circle"></span>
                                    </div>
                                    <!-- jx2d color group -->
                                    <div class="jx2d-color-group">
                                        <div class="row jxrow-padding-2">
                                            <foreach name="jx_2d_out.text_colors" item="jx_color" key="k">
                                                <div class="col-sm-1">
                                                    <a href="#" class="jx2d-color-box" mlabel="1" mnotlink="0">
                                                        <span style="background-color: #{$jx_color.color};"></span>
                                                    </a>
                                                </div>
                                            </foreach>
                                            <div class="col-sm-1">
                                                <a href="#" class="jx2d-color-box jx2d-color-not-link"  mlabel="1" mnotlink="1">
                                                    <span style="background-color: transparent;"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--text stroke size-->
                                    <div class="row jxrow-padding-2">
                                        <div class="col-sm-2">
                                            <span class="jxnstLabel">大小</span>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="jxntSlider-group">
                                                <div class="jxnstInput-g"><input type="text" class="jxNumber form-control jx2d-input" typename="text_stroke_size"></div>
                                                <div class="jxnstSlider-g">
                                                    <div class="jxnstSlider" data-range_min="0" data-range_max="360" data-cur_min="80" typename="text_stroke_size">
                                                        <div class="bar"></div>
                                                        <div class="leftGrip"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- jx2d text shadow panel -->
                                <div class="jx2d-properties-text-shadow jx-panel jx-panel-tri">
                                    <div class="jx-panel-title">
                                        <span class="label">文字阴影属性控制</span>
                                        <span class="close glyphicon glyphicon-remove-circle"></span>
                                    </div>
                                    <!-- jx2d color group -->
                                    <div class="jx2d-color-group">
                                        <div class="row jxrow-padding-2">
                                            <foreach name="jx_2d_out.text_colors" item="jx_color" key="k">
                                                <div class="col-sm-1">
                                                    <a href="#" class="jx2d-color-box" mlabel="2" mnotlink="0">
                                                        <span style="background-color: #{$jx_color.color};"></span>
                                                    </a>
                                                </div>
                                            </foreach>
                                            <div class="col-sm-1">
                                                <a href="#" class="jx2d-color-box jx2d-color-not-link" mlabel="2" mnotlink="1">
                                                    <span style="background-color: transparent;"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <!--text shaow distance-->
                                    <div class="row jxrow-padding-2">
                                        <div class="col-sm-2">
                                            <span class="jxnstLabel">偏移</span>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="jxntSlider-group">
                                                <div class="jxnstInput-g"><input type="text" class="jxNumber form-control jx2d-input" typename="text_shadow_distance"></div>
                                                <div class="jxnstSlider-g">
                                                    <div class="jxnstSlider" data-range_min="0" data-range_max="2000" data-cur_min="80" typename="text_shadow_distance">
                                                        <div class="bar"></div>
                                                        <div class="leftGrip"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--text shaow angle-->
                                    <div class="row jxrow-padding-2">
                                        <div class="col-sm-2">
                                            <span class="jxnstLabel">角度</span>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="jxntSlider-group">
                                                <div class="jxnstInput-g"><input type="text" class="jxNumber form-control jx2d-input" typename="text_shadow_angle"></div>
                                                <div class="jxnstSlider-g">
                                                    <div class="jxnstSlider" data-range_min="0" data-range_max="36000" data-cur_min="80" typename="text_shadow_angle">
                                                        <div class="bar"></div>
                                                        <div class="leftGrip"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--text shaow blur-->
                                    <div class="row jxrow-padding-2">
                                        <div class="col-sm-2">
                                            <span class="jxnstLabel">模糊</span>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="jxntSlider-group">
                                                <div class="jxnstInput-g"><input type="text" class="jxNumber form-control jx2d-input" typename="text_shadow_blur"></div>
                                                <div class="jxnstSlider-g">
                                                    <div class="jxnstSlider" data-range_min="0" data-range_max="1000" data-cur_min="80" typename="text_shadow_blur">
                                                        <div class="bar"></div>
                                                        <div class="leftGrip"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--text size-->
                                <div class="row jxrow-padding-2">
                                    <div class="col-sm-2">
                                        <span class="jxnstLabel">大小</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="jxntSlider-group">
                                            <div class="jxnstInput-g"><input type="text" class="jxNumber form-control jx2d-input" typename="text_size"></div>
                                            <div class="jxnstSlider-g">
                                                <div class="jxnstSlider" data-range_min="0" data-range_max="3600" data-cur_min="80" typename="text_size">
                                                    <div class="bar"></div>
                                                    <div class="leftGrip"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--text space-->
                                <div class="row jxrow-padding-2">
                                    <div class="col-sm-2">
                                        <span class="jxnstLabel">间距</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="jxntSlider-group">
                                            <div class="jxnstInput-g"><input type="text" class="jxNumber form-control jx2d-input" typename="text_space"></div>
                                            <div class="jxnstSlider-g">
                                                <div class="jxnstSlider" data-range_min="0" data-range_max="1000" data-cur_min="0" typename="text_space">
                                                    <div class="bar"></div>
                                                    <div class="leftGrip"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--text arc-->
                                <div class="row jxrow-padding-2">
                                    <div class="col-sm-2">
                                        <span class="jxnstLabel">弧度</span>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="jxntSlider-group">
                                            <div class="jxnstInput-g"><input type="text" class="jxNumber form-control jx2d-input" typename="text_arc"></div>
                                            <div class="jxnstSlider-g">
                                                <div class="jxnstSlider" data-range_min="-36000" data-range_max="36000" data-cur_min="0" typename="text_arc">
                                                    <div class="bar"></div>
                                                    <div class="leftGrip"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- jx2d panel photo -->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="jx2d-photo-phear">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#jx2d-properites-pg" href="#jx2d-photo-pbody" aria-expanded="true" aria-controls="jx2d-photo-pbody">
                                图片属性
                            </a>
                        </h4>
                    </div>
                    <div id="jx2d-photo-pbody" class="panel-collapse collapse" role="tabpanel" aria-labelledby="jx2d-photo-phear">
                        <div class="panel-body">
                            <!-- jx2d propertier photo -->
                            <div class="jx2d-properties-photo">
                                <div class='row jxrow-padding-5'>
                                    <div class='col-sm-2'>
                                        <div class='jx2d-filter-group'></div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class='jx2d-filter-group'></div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class='jx2d-filter-group'></div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class='jx2d-filter-group'></div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class='jx2d-filter-group'></div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class='jx2d-filter-group'></div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class='jx2d-filter-group'></div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class='jx2d-filter-group'></div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class='jx2d-filter-group'></div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class='jx2d-filter-group'></div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class='jx2d-filter-group'></div>
                                    </div>
                                    <div class='col-sm-2'>
                                        <div class='jx2d-filter-group'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $.getScript( "__JXRESOURCE__/2d/js/jx2d{$Think.config.DOT_MIN}.js");
</script>
</body>

</html>