<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>简衣制造</title>
    <link rel="stylesheet" href="__PUBLIC__/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/lib/css/jx2d.css">
    <script src="__PUBLIC__/lib/js/sea-2.3.0.min.js"></script>
    <script src="__PUBLIC__/lib/js/jquery-2.0.0.min.js"></script>
    <script src="__PUBLIC__/lib/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <div class="control-left">
                <div class="viewport-group">
                    <canvas class="viewport-2d"></canvas>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="project-template-group"></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="project-template-group"></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="project-template-group"></div>
                    </div>
                    <div class="col-sm-3">
                        <div class="project-template-group"></div>
                    </div>
                </div>
                <div class="spot-place"></div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="control-right">
                <!--<h3>标题位置: XXXX</h3>-->
                <!--<h5>￥59.9</h6>-->
                <select style="width: 100%">
                    <option value ="volvo">Volvo</option>
                    <option value ="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>

                <div style="width: 30%;">
                    <div class="input-group input-group-sm">
                        <span class="input-group-btn">
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" class="form-control" placeholder="The is number" value="1" pattern="[0-9]">
                        <span class="input-group-btn">
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="dropdown">
                            <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Dropdown
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-default btn-block">text</button>
                    </div>
                </div>

                <div class="jx2d-properties-panel"></div>
                
            </div>
        </div>
    </div>
</div>
<script>
(function() {

    // set canvas height
    var jquery_viewport = $(".viewport-2d");
    jquery_viewport.css({height: jquery_viewport.css("width")});

    var jquery_project_tmp = $(".project-template-group");
    jquery_project_tmp.css({height: jquery_project_tmp.css("width")});

    $(window).on("resize", function() {
        jquery_viewport.css({height: jquery_viewport.css("width")});
        jquery_project_tmp.css({height: jquery_project_tmp.css("width")});
    });
})();
</script>
</body>

</html>