<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>简兮网络</title>
    <link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__JXRESOURCE__/basic/css/jx{$Think.config.DOT_MIN}.css">
    <link rel="stylesheet" href="__JXRESOURCE__/basic/css/jxindex{$Think.config.DOT_MIN}.css">

    <script src="__STATIC__/sea-2.3.0.min.js"></script>
    <script src="__STATIC__/jquery-2.1.4.min.js"></script>
    <script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>

</head>
<body data-spy="scroll" data-target="#myScrollspy">
    <nav id="myScrollspy" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-logo" href="#">
                    <img class="jx-logo" src="__JXRESOURCE__/basic/imgs/logo.png" alt="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse bs-js-navbar-scrollspy" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#jx-home-label">首页</a></li>
                    <li><a href="#jx-product-label">产品展示</a></li>
                    <li><a href="#jx-introdution-label">公司简介</a></li>
                    <li><a href="#jx-about-label">联系我们</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="jx-home-label">
        <div class="carousel slide" id="myCarousel">
            <!-- 轮播（Carousel）指标 -->
            <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol> -->
            <ol class="carousel-indicators">
            <foreach name="jx_banners" item="jx_banner" key="k">
                <if condition="$k eq 0">
                    <li data-target="#myCarousel" data-slide-to="$k" class="active"></li>
                <else />
                    <li data-target="#myCarousel" data-slide-to="$k"></li>
                </if>
            </foreach>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
            <foreach name="jx_banners" item="jx_banner" key="k">

            <if condition="$k eq 0">
                <div class="item active">
            <else />
                <div class="item">
            </if>
                    <img src="{$jx_banner.url}" alt="">
                    <div class="carousel-caption jxbanner-introdution-group">
                        <p class="jxbanner-introdution-title size-30px">{$jx_banner.labelheader}</p>
                        <div class="jxbanner-introdution-content">
                            <p class="size-18px">{$jx_banner.labelcontent}</p>
                        </div>

                        <a href="{$jx_banner.link}" class="{$jx_banner.buttonclassname}">
                            马上体验
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </a>
                    </div>
                </div>
            </foreach>

            </div>

            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
            <!-- 轮播（Carousel）导航 -->
            <!--<a class="carousel-control left" href="#myCarousel"-->
            <!--data-slide="prev">&lsaquo;</a>-->
            <!--<a class="carousel-control right" href="#myCarousel"-->
            <!--data-slide="next">&rsaquo;</a>-->
        </div>
        <div class="jx-split"></div>
    </div>

    <div class="container" id="jx-product-label">

        <div class="row show-grid">
            <foreach name="jx_products" item="jx_product" key="k">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="jxproduct-group">
                    <img src="{$jx_product.path}" alt="">
                    <div>
                        <p class="size-30px">{$jx_product.labelheader}</p>
                        <p class="size-16px">{$jx_product.labelbody}</p>
                        <a href="{$jx_product.link}" class="{$jx_product.buttonclassname}" role="button">
                            马上体验
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            </foreach>
            <!--<div class="col-xs-12 col-sm-6 col-md-4">-->
                <!--<div class="jxproduct-group">-->
                    <!--<img src="__JXRESOURCE__/basic/imgs/product01.jpg" alt="">-->
                    <!--<div>-->
                        <!--<p class="size-30px">简衣定制</p>-->
                        <!--<p class="size-16px">在这里,个性化服饰变得无比丰富、简单、 乐趣无穷。</p>-->
                        <!--<a href="{U('Home/JX2D/index')}" class="jxbtn jxbtn-orange" role="button">-->
                            <!--马上体验-->
                            <!--<span class="glyphicon glyphicon-menu-right"></span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-sm-6 col-md-4">-->
                <!--<div class="jxproduct-group">-->
                    <!--<img src="__JXRESOURCE__/basic/imgs/product02.jpg" alt="">-->
                    <!--<div>-->
                        <!--<p class="size-30px">简陶定制</p>-->
                        <!--<p class="size-16px">杯具定制可一点儿也不悲剧哦，生活中的 小物件也可以如此多姿多彩。</p>-->
                        <!--<a href="{U('Home/JX2D/index')}" class="jxbtn jxbtn-green">-->
                            <!--马上体验-->
                            <!--<span class="glyphicon glyphicon-menu-right"></span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-sm-6 col-md-4">-->
                <!--<div class="jxproduct-group">-->
                    <!--<img src="__JXRESOURCE__/basic/imgs/product03.jpg" alt="">-->
                    <!--<div>-->
                        <!--<p class="size-30px">3D.AR</p>-->
                        <!--<p class="size-16px">这里是汽车AR的简要介绍，要体现出满满的 科技感。</p>-->
                        <!--<a href="{U('Home/JX2D/index')}" class="jxbtn jxbtn-blue">-->
                            <!--马上体验-->
                            <!--<span class="glyphicon glyphicon-menu-right"></span>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <div class="jx-split"></div>

    <div class="jx-label-bg-gray">
        <div class="container" id="jx-introdution-label">
        <div class="row">
            <div class="col-md-6">
                <div class="jx-intr-g">
                    <img src="__JXRESOURCE__/basic/imgs/tt01.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="jx-intr-g">
                    <p class="size-24px">理想</p>
                    <p class="size-18px">简兮简兮.方将万舞</p>
                    <p class="size-14px">世界正在变的越来越多元化，简兮生活馆为多元化生活而生，这个舞台也许还不够庞大，但个性与精致在这里不停地生长，我们希望更多的人站上这个舞台，如诗经云：简兮简兮.方将万舞。这里是示例文案。世界正在变的越来越多元化，简兮生活馆为多元化生活而生，这个平台也许还不够庞大，但个性与精致在这里不停地生长。这里是示例文案。世界正在变的越来越多元化，简兮生活馆为多元化生活而生，这个平台也许还不够庞大，但个性与精致在这里不停地生长。这里是示例文案。</p>
                </div>
                </div>
            <div class="col-md-6">
                <div class="jx-intr-g">
                    <p class="size-24px">行动</p>
                    <p class="size-18px">简兮简兮.方将万舞</p>
                    <p class="size-14px">
                    上海简兮网络技术有限公司是一家专注Web开发应用的综合服务提供商。简兮科技主要致力于Web2D和Web3D开发应用。Web2D，主要是通过领先的H5技术完成在线图片编工具，辑被誉为线上的“PS”。该技术被广泛用于在线DIY定制服务，比如：在线DIY T恤图案定制、在线DIY手机壳定制、等等的图片在线DIY定制工具。Web3D，相比起目前网上主流的以图片、FLASH、动画的展示方式来说，WEB3D技术让用户有了浏览的自主感，可以以自己的角度去观察，还有许多虚拟特效和互动操作。使用Web3D实现网络上的虚拟现实展示（VR）对于建筑房地产虚拟漫游展示、产品模拟动态展示提供了优秀的解决方案。</p>
                </div>
                </div>
            <div class="col-md-6">
                <div class="jx-intr-g">
                    <img src="__JXRESOURCE__/basic/imgs/tt01.png" alt="">
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="jx-split"></div>
    <img src="__JXRESOURCE__/basic/imgs/technological_process.jpg" alt="" style="max-width: 100%">
    <div class="jx-split"></div>


    <div class="jx-label-bg-gray">
        <div class="container" id="jx-about-label">
            <div class="row">
                <div class="col-md-12">
                    <div>
                    <p class="size-18px">联系方式</p>
                    <p><span class="glyphicon glyphicon-map-marker"></span>     上海市松江区莘砖公路518号漕河泾工业园</p>
                    <p><span class="glyphicon glyphicon-earphone"></span>     18221425930 | 18521597226</p>
                    <p><span class="glyphicon glyphicon-envelope"></span>     Janexi@21cn.com</p>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <p  class="size-18px">合作伙伴</p>
                </div> -->
            </div>
        </div>
    </div>
    <div class="jx-split"></div>
    <p style="margin: 5px 0; text-align: center;">© 2015-2018 简兮网络版权所有 沪ICP备05036958号</p>

    <script>
        $('body').scrollspy({ target: '#myScrollspy' });
//        $('.carousel').carousel();

        $(document).ready(function() {
            $("#myScrollspy").css("width", $("body").css("width"));
        });

        $(window).on("resize", function () {
            $("#myScrollspy").css("width", $("body").css("width"));
        });
    </script>
</body>
</html>