@import "../../basic/sass/jxvariables";
@import "../../basic/sass/mixins/base";

.jx2d-container {
    width: 920px;

    margin: auto;
}

.control-left {
  width: 500px;
  height: 600px;
}

.control-left, .control-right {
    // background-color: #eee;
    float: left;
}

.viewport-2d {
    width: 100%;
}

.viewport-2d, .project-template-group, .spot-place {
    border: 1px solid #666;
}

.viewport-group {
    margin-bottom: $jx-space-x4; 
}


.spot-place {
    height: 50px;
    margin-top: $jx-space-x4; 
}

.project-template-group {
    //height: 100px;
}

.control-right {
    position: relative;
    width: 400px;
    //height: 600px;
    margin-left: $jx-space-x4;
    // 
    .color-group {
        //box-sizing: content-box;
        background-color: #777;
        height: 24px;
        margin-top: $jx-space-x2;
        margin-bottom: $jx-space-x2;
    }
}

.jx2d-transfrom-group {
    margin-top: 7px;
}

.jx2d-content-select, .jx2d-font-select, .jx2d-color-select {
    margin-top: $jx-space-x2;
    margin-bottom: $jx-space-x2;
}

.jx2d-font-select {
    >span {
        display: block;
        margin-bottom: $jx-space-base;
    }
}

.jx2d-color-select {
    >span {
        text-align: center;
        display: block;
        margin-bottom: $jx-space-base;
    }
    >icon {
        width: 30px;
        height: 30px;
        border: 1px solid $jx-panel-default-border;
        background-color: $jx-brand-orange;
        border-radius: 5px;
        display: block;
        margin: auto;
    }
}

.jx2d-photo-text-group {
    margin-bottom: $jx-space-x2;
}

$jx2d-color-box-width: 29px;
$jx2d-color-box-space: 1px;
$jx2d-color-box-border-r: 4px;
$jx2d-color-box-border-dc: rgba(0, 0, 0, 0.3);
$jx2d-color-box-border-ac: rgba(0, 255, 100, 0.7);
.jx2d-color-group {
    .jx2d-color-box {
        @include jxround($jx2d-color-box-border-r);
        border: 1px solid $jx2d-color-box-border-dc;
        display: block;
        width: $jx2d-color-box-width;
        height: $jx2d-color-box-width;
        padding: $jx2d-color-box-space;
        margin-top: $jx-space-base;
        margin-bottom: $jx-space-base;

        span {
            @include jxround($jx2d-color-box-border-r);
            display: block;
            width: $jx2d-color-box-width - $jx2d-color-box-space * 2 - 2px;
            height: $jx2d-color-box-width - $jx2d-color-box-space * 2 - 2px;
        }
    }

    .active {
        text-decoration: none;
        border: 1px solid $jx2d-color-box-border-ac;
        
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        font-size: $jx2d-color-box-width/2;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: grayscale;
        
        :before {
            content: "\e013";
            display: block;
            width: $jx2d-color-box-width/2;
            margin: auto;
        }
    }
}

.jx2d-color-not-link {
  background-image: url('../imgs/default/trans-color.png');
}

.jx2d-properties-style-color, .jx2d-properties-text-color, .jx2d-properties-text-stroke, .jx2d-properties-text-shadow {
    width: 100%;
    position: absolute;
    z-index: 10;
    display: none;
}

.jx2d-properties-style-color {
    &:before {
        left: 298px;
    }
}

.jx2d-properties-text-color {
    margin-left: -$jx-space-base * 3;
    &:before {
        left: 142px;
    }
}

.jx2d-properties-text-stroke {
    margin-left: -$jx-space-base * 3;
    &:before {
        left: 234px;
    }
}

.jx2d-properties-text-shadow {
    margin-left: -$jx-space-base * 3;
    &:before {
        left: 326px;
    }
}

.jx2d-properties-photo {
    .active {
        border-color: $jx2d-color-box-border-ac;
    }
}

.jx2d-filter-group {
    border: 1px solid transparent;
    height: 85px;
    margin-top: $jx-space-base;
    margin-bottom: $jx-space-base;
    text-align: center;
    &:hover {
        border-color: rgba(0, 0, 0, 0.3);
    }
    .jx2d-ps-img {
        max-width: 100%;
    }
}

.jx2d-product-item-group {
    .active {
        border: 1px solid $jx-brand-orange;
    }

    .jx2d-product-item {
        margin-top: $jx-space-base;
        margin-bottom: $jx-space-base;
        text-align: center;
        &:hover {
            border: 1px solid $jx-panel-default-border;
        }
        .jx2d-product-item-img {
            max-width: 100%;
            // border-bottom: 1px solid $jx-panel-default-border;
        } 

        .jx2d-product-item-label {

        }
    }
}