<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>简衣制造</title>
    <link rel="stylesheet" href='__STATIC__/bootstrap/css/bootstrap.min.css?<?php echo md5_file("Public/static/bootstrap/css/bootstrap.min.css");?>'>

    <script type="text/javascript" src='__PUBLIC__/static/fabric.js?<?php echo md5_file("Public/static/fabric.js");?>'></script>
    <script type="text/javascript" src='__PUBLIC__/static/fabric.curvedText.js?<?php echo md5_file("Public/static/fabric.curvedText.js");?>'></script>
  </head>
  <body>
    <div id="jy-app"></div>
    <script type="text/javascript">
      var M_PROPS = {
        pid: "{$PID}",
        diyid: "{$DIYID}"
      };
    </script>
    <script type="text/javascript" src='__STATIC__/react-15.0.2/react.min.js?<?php echo md5_file("Public/static/react-15.0.2/react.min.js");?>'></script>
    <script type="text/javascript" src='__STATIC__/react-15.0.2/react-dom.min.js?<?php echo md5_file("Public/static/react-15.0.2/react-dom.min.js");?>'></script>
    <script type="text/javascript" src='__PUBLIC__/dist/jy.bundle.js?<?php echo md5_file("Public/dist/jy.bundle.js");?>'></script>
  </body>
</html>
