$plane-bg-color-base: #dfe2ea;
$plane-border-color-base: #828182;

$plane-header-bg-clolor: #cbcacd;

$view-border-color: #bbbbbb;
$view-bg-color: #f6f6f6;

$plane-border-raduis: 5px;

@import "../../lib/sass/mixins/base.scss";

@mixin close($width:14px, $height:14px, $bg-color:#fa6900, $border-radius:2px) {
  height: $width;
  width: $height;
  background-color: $bg-color;
  border: 1px darken($bg-color, 5%) solid;
  border-radius: $border-radius;
  @include shadow(1px, 1px, 1px, 0px, rgba(0,0,0,0.1));
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\d7";
    color: #fff;
    @if $width < $height {
      font-size: $width;
    } @else {
      font-size: $height;
    }


    text-align: center;
    line-height: $height;
  }

  &:hover {
    background-color: lighten($bg-color, 10%);
  }
}

* {
  margin: 0px;
  padding: 0px;
}

.container-painting {
  height: 800px;
  position: relative;

  .painting {
    background-color: hsl(0, 0%, 70%);
    width: 100%;
    height: 100%;
    cursor: crosshair;
  }
}

ul {
  list-style: none;
}

div .head-group ul li {
  float: left;
  width: 33.333%;
  line-height: 50px;
  text-align: center;
}

a {
  text-decoration: none;
  &:hover {
    color: #f00;
  }
}

.active {
  border: 1px #0f0 solid !important;
}

.plane {
  @include round($plane-border-raduis);

  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 601;
  @include shadow(3px,3px,2px,0px, rgba(0,0,0,0.1));

  .plane-header {
    background-color: $plane-header-bg-clolor;
    border: 1px $plane-border-color-base solid;
    @include round-split($plane-border-raduis, $plane-border-raduis, 0px, 0px);
    height: 30px;
    .plane-title {
      font-size: 14px;
      margin-left: 10px;
      line-height: 30px;
    }
    .box-close {
      position: absolute;
      top: 5px;
      right: 5px;
      @include close;
    }
  }

  .plane-container {
    background-color: $plane-bg-color-base;
    @include border-split(1px, lighten($plane-bg-color-base, 5%), 1px, $plane-border-color-base, 1px, $plane-border-color-base, 1px, $plane-border-color-base);
    width: 321px;
    height: 300px;
    padding-left: 5px;
    padding-top: 5px;
    overflow: scroll;

    .view-div {
      border: 1px $view-border-color solid;
      background-color: $view-bg-color;
      @include round(3px);
      //@include shadow(1px, 1px, 1px, 1px, rgba(0, 0, 0, 0.2));
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 5px;
      margin-bottom: 5px;
      background-size: cover;
      &:hover{
        border-color: #588ecb;
      }

      span {
        text-align: center;
        line-height: 100px;
        width: 100%;
        display: inline-block;
        font-size: 40px;
        color: #697588;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
      }
    }
  }

  .plane-footer {
    background-color: $plane-header-bg-clolor;
    border: 1px $plane-border-color-base solid;
    @include border-split(1px, lighten($plane-bg-color-base, 5%), 1px, $plane-border-color-base, 1px, $plane-border-color-base, 1px, $plane-border-color-base);
    @include round-split(0px, 0px, $plane-border-raduis, $plane-border-raduis);
    height: 40px;
    position: relative;
    .btn-group {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }
}

$painting-header-bg-color: #5f5f5f;
.header-painting {
  @include border-split(2px, darken($painting-header-bg-color, 20%), 2px, darken($painting-header-bg-color, 20%), 0px, $painting-header-bg-color, 0px, $painting-header-bg-color);
  height: 60px;
  background-color: $painting-header-bg-color;

  &:before {
    content: "JianXi Photo";
    width: 100px;
    line-height: 60px;
    margin: 0px 30px;
  }
}

.text-contr-sub {
  margin-right: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  @include border-split(0px, $plane-border-color-base, 1px, $plane-border-color-base, 0px, $plane-border-color-base, 0px, $plane-border-color-base);
  .text-size, .text-font {
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
  }

  .number-group {
    margin-left: 30px;
    margin-right: 40px;
    vertical-align: middle;
    line-height: 20px;
  }

}

.use-font-group {
  margin-right: 5px;
  .use-font {
    display: block;
    padding: 5px 10px;
    font-size: 16px;

    &:hover {
      background-color: #a0aec3;
    }
  }
}
